<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KlillKlipp - {% block title %}{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a href="{{ url_for('index') }}" class="brand-logo">KlillKlipp</a>
      <a href="" data-activates="mobile-demo" class="button-collapse">Navigation</a>
      <ul class="right hide-on-med-and-down">
          {% if session.admin %}<li><a href="{{ url_for('admin') }}">Admin</a></li>
          {% endif %}
        {% if not session.id %}<li><a href="{{ url_for('login') }}">Login</a>
          <li><a href="{{ url_for('register') }}">Register</a></li></li>
        {% else %}
          <li><a href="{{ url_for('overview') }}">Overview</a></li>
          <li><a href="{{ url_for('book') }}">Book</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>{% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
          {% if session.admin %}<li><a href="{{ url_for('admin') }}">Admin</a></li>
          {% endif %}
        {% if not session.id %}<li><a href="{{ url_for('login') }}">Login</a>
          <li><a href="{{ url_for('register') }}">Register</a></li></li>
        {% else %}
          <li><a href="{{ url_for('overview') }}">Overview</a></li>
          <li><a href="{{ url_for('book') }}">Book</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>{% endif %}
      </ul>
    </div>
    </nav>
    {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="row blue-grey ligthen-3">
            {% for message in messages %}
              <p class="center-align flashd">{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    <div class="container">
      <div class="section">
    {% block body %}{% endblock %}
      </div>
    </div>
<!-- JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>
</body>
</html>